* {
  font-family: "Yellowed";
  padding: 8px;
  margin: 8px;
}

body {
  background: linear-gradient( #4591e79c, #316299);
  background-attachment: fixed;
}

header {
  text-align: center;
  padding: 8px;
  margin: 8px;
}



h1 {

  text-align: center;
  color: white;
  padding: 10px;
  margin: 10px;
}

#botão input {
  background-color: #4591e7;
  color: white;
  border: 0.5px solid white;
  padding: 10px;
  border-radius: 0px;
}




p#botão {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

p#botão input {
  background-color: #ffffff15;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.281);
  padding: 10px;
  border-radius: 0px;
}

p#botão input:hover {
  cursor: pointer;
  background-color: #4787cf;
}

fieldset {
  margin: auto;
  border-radius: 0px;
  text-align: center;
  background-color: #ffffff15;
  border: 1px solid rgba(255, 255, 255, 0.281);
  width: 30vw;
}



label {
  color: white;
  font-weight: bold;
  text-align: center;
}



input {
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  border-radius: 0px;
  text-align: left;
}



.logo {
  width: 150px;
  margin: 0px;
  padding: 0px;
}