@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

:root {
  --cor1: #a0dbff;
  --cor2: #62a2ec;
  --cor3: #4591e7;
  --cor4: #108bd6;
  --cor5: #396fad;
  --cor6: #ffffff;

  --fonte-gaulesa: "Yellowed", cursive;
}

body {
  font-family: Yellowed;
  background-image: linear-gradient(to bottom, #4591e79c, #316299);
  background-attachment: fixed;
  color: #ffffff;
}

/* LOGO DA CABEÇA */

header {
  background-color: #80aee3;
  padding: 15px;
  text-align: center;
}

.menu {
  box-shadow: 0px 0px 0px 0px #ffffff;
  padding: 11px;
  margin: 0px;
}

img.logo {
  margin: 0px;
  padding: 0px;
  width: 20vh;
}

/* ICONES DA CABEÇA */

.icon {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.icone {
  width: 10px;
  padding-right: 0%;
}

.icone2 {
  width: 100px;
  padding: 0px;
  margin: 0px;
}

/* FONTE DO SITE */

h1 {
  font-size: 15vh;
  color: #ffffff;
}

h2 {
  font-size: 16px;
  color: #ffffff;
}

h3 {
  font-size: 13px;
  color: white;
}

p.pp {
  text-align: center;
  font-weight: lighter;
}

p {
  font-size: 15px;
}

div p {
  font-size: 4.5vh;
  padding-left: 5px;
  padding-right: 5px;
}

/* MENU DO SITE */

nav {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #108bd6;
  text-decoration: none;
  padding: 12px 20px;
  margin: -2px;
  transition-duration: 0.5s;
  font-size: 1em;
}

nav a:hover {
  color: #ffffff;
  background-color: #62a2ec;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.176);
}

/* CORPO DO SITE*/

main {
  min-height: 100vh;
}

main h1 {
  text-align: center;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.327);
}

.inicio {
  text-align: center;
  padding-top: 100px;
  margin: 0px;
}

.inicio2 {
  text-align: center;
  padding-bottom: 100px;
  margin: 0px;
}

.paragrafo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}

/* BOTÃO DO SITE*/

.button {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 135px;
  margin: 0px;
}

.buttonloja:hover,
.button h2:hover,
.button h3:hover {
  background-color: rgb(255, 255, 255);
  transition-duration: 0.5s;
  color: black;
}

.buttonloja {
  background-color: var(--cor3);
  font-size: 200px;
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  margin: 0px;
}

button h2 {
  font-family: "Yellowed";
  font-weight: lighter;
  font-size: 40px;

  padding: 0px;
  margin: 0px;
}

button h3 {
  font-family: "Yellowed";
  font-weight: lighter;
  font-size: 20px;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 8px;
}

/* TABELA DOS TIMES */

.letratime h2 {
  font-size: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.letraaovivo {
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 10px;
  margin: 0px;
}

.tabela {
  background-color: #ffffff;
  height: 80vh;
  width: 85vw;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.322);
  padding: 0px;
  margin: 0px;
}

.letratabela {
  background-color: #62a2eca9;
  border-radius: 30px 30px 0px 0px;
  height: 1vw;
  

  padding-top:  15px;
  padding-bottom: 15px;
  margin: 0px;
}



div ul {
  list-style-type: "\2714\00A0\00A0";
  list-style-position: inside;
  color: #4591e7;
  columns: 2;
}

section {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* LIVE DO SITE */

.paralive {
  margin: 0px;
  padding-bottom: 50px;
}

#stream {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  height: 50vh;
}

/* RODAPÉ DO SITE */

footer {
  background-color: #ffffff;
  font-weight: bold; /* Dark grey footer */
  text-align: center;
  position: relative;

  width: 100%;
  padding: 0px;
  margin: 0px;
}

p.p2 {
  color: #108bd6;
  font-size: 1vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

footer p img {
  width: 5vw;
  padding: 0px;
  margin: 0px;
}

.portfolio {
  font-weight: bold;
  text-decoration: none;
  color: #316299;
}

.portfolio:hover {
  font-weight: bold;
  color: #3162997d;
  transition-duration: 0.2s;
}

.asas {
  padding: 0px 1px 0px 0px;
  margin: -6px 0px -4px -3px;
  width: 26px;
}
